/* $Id$ */
.sf-menu.sf-style-coffee a {
    border: 1px solid #381301;
    color: #f1dec6 !important;
    font-weight: bold;
}
.sf-menu.sf-style-coffee li,
.sf-navbar.sf-style-coffee {
    background: #210c02;
}
.sf-menu.sf-style-coffee li li {
    background: #290f03;
}
.sf-menu.sf-style-coffee li li li {
    background: #311304;
}
.sf-menu.sf-style-coffee li:hover, .sf-menu.sf-style-coffee li.sfHover,
.sf-menu.sf-style-coffee a:focus, .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee a:active {
    background: #52250f;
    color: #ffffff !important;
}