/* $Id$ */
.sf-menu.sf-style-light-blue a {
	border: 1px solid #b7d5f3;
	color: #00305f !important;
}
.sf-menu.sf-style-light-blue li,
.sf-navbar.sf-style-light-blue {
	background: #d9ecff;
}
.sf-menu.sf-style-light-blue li li {
	background: #d1e8ff;
}
.sf-menu.sf-style-light-blue li li li {
	background: #c6e3ff;
}
.sf-menu.sf-style-light-blue li:hover, .sf-menu.sf-style-light-blue li.sfHover,
.sf-menu.sf-style-light-blue a:focus, .sf-menu.sf-style-light-blue a:hover, .sf-menu.sf-style-light-blue a:active {
	background: #9dc8f3;
	color: #00172e !important;
}
.sf-menu.sf-style-light-blue .sf-sub-indicator {
	background-image: url('../../images/arrows-777777.png');
}