/* $Id$ */
.sf-menu.sf-style-pomegranate a {
    border: 1px outset #68000e;
    color: #ffebee !important;
}
.sf-menu.sf-style-pomegranate li,
.sf-navbar.sf-style-pomegranate {
    background: #79001c;
}
.sf-menu.sf-style-pomegranate li li {
    background: #6c0019;
}
.sf-menu.sf-style-pomegranate li li li {
    background: #5f0016;
}
.sf-menu.sf-style-pomegranate li:hover, .sf-menu.sf-style-pomegranate li.sfHover,
.sf-menu.sf-style-pomegranate a:focus, .sf-menu.sf-style-pomegranate a:hover, .sf-menu.sf-style-pomegranate a:active {
    background: #4c0012;
    color: #ffffff !important;
}