/* $Id$ */
.sf-menu.sf-style-space a {
	border: 1px outset #000000;
	color: #f1f1f1 !important;
}
.sf-menu.sf-style-space li,
.sf-menu.sf-style-space li li,
.sf-menu.sf-style-space li li li,
.sf-navbar {
	background: #333333;
}
.sf-menu.sf-style-space li:hover, .sf-menu.sf-style-space li.sfHover,
.sf-menu.sf-style-space a:focus, .sf-menu.sf-style-space a:hover, .sf-menu.sf-style-space a:active {
	background: #008ad2;
	color: #ffffff !important;
}