/* $Id$ */
.sf-menu.sf-style-space-teal a {
	border: 1px outset #000000;
	color: #f1f1f1 !important;
}
.sf-menu.sf-style-space-teal li,
.sf-menu.sf-style-space-teal li li,
.sf-menu.sf-style-space-teal li li li,
.sf-navbar.sf-style-space-teal {
	background: #333333;
}
.sf-menu.sf-style-space-teal li:hover, .sf-menu.sf-style-space-teal li.sfHover,
.sf-menu.sf-style-space-teal a:focus, .sf-menu.sf-style-space-teal a:hover, .sf-menu.sf-style-space-teal a:active {
	background: #08997f;
	color: #ffffff !important;
}