/* $Id$ */
.sf-menu.sf-style-space-orange a {
	border: 1px outset #000000;
	color: #f1f1f1 !important;
}
.sf-menu.sf-style-space-orange li,
.sf-menu.sf-style-space-orange li li,
.sf-menu.sf-style-space-orange li li li,
.sf-navbar {
	background: #333333;
}
.sf-menu.sf-style-space-orange li:hover, .sf-menu.sf-style-space-orange li.sfHover,
.sf-menu.sf-style-space-orange a:focus, .sf-menu.sf-style-space-orange a:hover, .sf-menu.sf-style-space-orange a:active {
	background: #dc5300;
	color: #ffffff !important;
}