/* $Id$ */
.sf-menu.sf-style-spring a {
    border: 1px solid #ffffff;
    border-bottom: 0;
    color: #37731f !important;
}
.sf-menu.sf-style-spring li,
.sf-navbar.sf-style-spring {
    background: #ecffdf;
}
.sf-menu.sf-style-spring li li {
    background: #eaffdb;
}
.sf-menu.sf-style-spring li li li {
    background: #daf8c5;
}
.sf-menu.sf-style-spring li:hover, .sf-menu.sf-style-spring li.sfHover,
.sf-menu.sf-style-spring a:focus, .sf-menu.sf-style-spring a:hover, .sf-menu.sf-style-spring a:active {
    background: #bff6a9;
    color: #ffffff;
}
.sf-menu.sf-style-spring .sf-sub-indicator {
    background-image: url('../../images/arrows-777777.png');
}
.sf-menu.rtl.sf-style-spring .sf-sub-indicator {
    background-image: url('../../images/arrows-777777-rtl.png');
}