/* $Id$ */
.sf-menu.sf-style-white a {
    border: 1px solid #e1e1e1;
    color: #555555 !important;
}
.sf-menu.sf-style-white li,
.sf-navbar.sf-style-white {
    background: #f9f9f9;
}
.sf-menu.sf-style-white li li {
    background: #f7f7f7;
}
.sf-menu.sf-style-white li li li {
    background: #f5f5f5;
}
.sf-menu.sf-style-white li:hover, .sf-menu.sf-style-white li.sfHover,
.sf-menu.sf-style-white a:focus, .sf-menu.sf-style-white a:hover, .sf-menu.sf-style-white a:active {
    background: #e9e9e9;
}
.sf-menu.sf-style-white .sf-sub-indicator {
    background-image: url('../../images/arrows-777777.png');
}
.sf-menu.rtl.sf-style-white .sf-sub-indicator {
    background-image: url('../../images/arrows-777777-rtl.png');
}